# Flutter
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/local.properties
android/key.properties
*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# Firebase
google-services.json
GoogleService-Info.plist

# Mac
.DS_Store
